@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var properties = ViewBag.Properties as IEnumerable<string>;
}
<!-- Section: Timeline -->
<section class="">
    <div class="row">
        <div class="col scroller py-5" style="height: 87vh;">
            <ul class="timeline-with-icons">
                <li class="timeline-item mb-5">
                    <span class="timeline-icon">
                        <i class="fa-solid fa-circle-plus text-primary fa-sm fa-fw"></i>
                    </span>
                    <h4 class="fw-bold">Partrick 新增了任務&nbsp;「討論視覺設計構想與主題」</h4>
                    <p class="text-muted mb-2 fw-bold">
                        17:10&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;19 March 2023
                    </p>
                </li>
                <br>

                <li class="timeline-item mb-5">
                    <span class="timeline-icon">
                        <i class="fa-solid fa-circle-plus text-primary fa-sm fa-fw"></i>
                    </span>
                    <h4 class="fw-bold">Partrick 新增了任務&nbsp;「討論視覺設計構想與主題」</h4>
                    <p class="text-muted mb-2 fw-bold">
                        17:10&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;19 March 2023
                    </p>
                </li>
                <br>

                <li class="timeline-item mb-5">
                    <span class="timeline-icon">
                        <i class="fa-solid fa-circle-plus text-primary fa-sm fa-fw"></i>
                    </span>
                    <h4 class="fw-bold">Partrick 新增了任務&nbsp;「討論視覺設計構想與主題」</h4>
                    <p class="text-muted mb-2 fw-bold">
                        17:10&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;19 March 2023
                    </p>
                </li>
                <br>

                <li class="timeline-item mb-5">
                    <span class="timeline-icon">
                        <i class="fa-solid fa-circle-plus text-primary fa-sm fa-fw"></i>
                    </span>
                    <h4 class="fw-bold">Partrick 新增了任務&nbsp;「討論視覺設計構想與主題」</h4>
                    <p class="text-muted mb-2 fw-bold">
                        17:10&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;19 March 2023
                    </p>
                </li>
                <br>

                <li class="timeline-item mb-5">
                    <span class="timeline-icon">
                        <i class="fa-solid fa-circle-plus text-primary fa-sm fa-fw"></i>
                    </span>
                    <h4 class="fw-bold">Partrick 新增了任務&nbsp;「討論視覺設計構想與主題」</h4>
                    <p class="text-muted mb-2 fw-bold">
                        17:10&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;19 March 2023
                    </p>
                </li>
                <br>
            </ul>
        </div>
        <div class="col">
            <img class="notifyImg"
                 src="~/img/Notify/—Pngtree—people make puzzles concept team_5356575.png" alt="">
        </div>
    </div>
</section>
<!-- Section: Timeline -->
<link rel="stylesheet" href="~/css/Notify.css" />