body {
}
/* ------全域設定------ */
/* * {
    border: 1px solid black;
} */

a {
    text-decoration: none;
}

.Mycontainer {
    margin: 2% 5% 0% 3%;
}

p {
    font-size: 28px;
    font-weight: 600;
}

label {
    font-weight: 500;
}

/* 按鈕設定 */
.Mybtn {
    background-color: #2b3040e6;
    border: none;
    border-radius: 8px;
    padding: 10px 25px;
    color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.btn-edit {
    color: white;
    font-size: 30px;
    margin-right: 6%;
    background-color: #0e356de6;
    border-radius: 10px 10px 10px 10px;
    padding: 8px 18px 8px 18px;
    border: none;
}

    .btn-edit:hover {
        color: white;
        font-size: 28px;
        margin-right: 6%;
        border-radius: 10px 10px 10px 10px;
        padding: 8px 18px 8px 18px;
        border: none;
        background-color: #6230f7e6;
    }

/* .btnArea>button {
    font-size: 25px;
} */

/* ------頭貼那欄------ */
.ImgDiv {
    position: relative;
    display: flex;
}

.editImgA {
    opacity: 0;
    position: absolute;
    top: 70%;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.551);
    font-size: 20px;
    color: rgb(246, 246, 246) !important;
    padding-top: 5px;
}

    .editImgA:hover {
        opacity: 1;
        transition: opacity 0.3s ease;
    }

.UserName {
    font-weight: 600;
}

.MemberAreaImg {
    width: 150px;
    height: 150px;
    /* border-radius: 10px; */
}

.headerBody {
    /* background-color: #fefefe; */
    border-radius: 10px;
    /* box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.2); */
}

.headerBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin-left: 30px;
    height: 120px;
}


/* ---------表單--------- */
/* 基本資料區 */
.profile {
    width: 600px;
}

/* 更改密碼區 */
.ChangePWD {
    width: 700px;
    margin-top: 210px;
}

.btnSave {
    justify-content: center;
    display: flex;
}

.memberInfoText {
    display: flex;
    align-items: center;
    padding-left: 30px;
}

    .memberInfoText::before {
        content: "";
        display: inline-block;
        width: 1px;
        height: 50%;
        background-color: #000000;
        margin-left: -20px;
        margin-right: 50px;
    }

.horizontal {
    border: none;
    height: 2px;
    background-image: linear-gradient(to right, #fff 0%, #000000 10%, #fff 100%);
}

.card-header {
    background-color: #ffffff;
    height: 100px;
    margin-top: 50px;
    /* padding-top: 20px; */
    border-radius: 10px 10px 0 0;
    box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.2);
}

.card-body {
    background-color: #ffffff;
    border-radius: 0px 0px 10px 10px;
    margin-top: -1px;
    box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.2);
}

.small-input {
    width: 500px;
}

.disabled-input:disabled {
    background-color: transparent;
    border: 0px;
    color: #353535;
}

.disabled-input::placeholder {
    color: #353535;
    /* 设置 placeholder 文字颜色 */
}

.myInput {
    font-size: 25px;
    background-color: #f5f4f1;
    border: 4px solid #e2e0e0;
    border-radius: 10px 10px 10px 10px;
    width: 380px;
    height: 50px;
    /* margin-left: 20px; */
    outline-style: none
}

.icon-addTarget {
    color: #b8b7b7;
    font-size: 25px;
}

    .icon-addTarget:hover {
        color: #2b3040e6;
        font-size: 25px;
        cursor: pointer;
    }

.margin-editbtn {
    margin-left: 350px;
}

.margin-editbtnPWD {
    margin-left: 400px;
}