body {
}
/* * {
    border: 1px solid black;
} */

.custom-div {
    /* border: 2px solid #000; */
    height: 580px;
    /* 设置固定的高度以限制内容区域的高度 */
    overflow: auto;
    /* 当内容溢出时显示滚动条 */
}

.searchInput {
    font-size: 23px;
    background-color: #ffffff;
    border: 4px solid #e2e0e0;
    border-radius: 10px 10px 10px 10px;
    width: 400px;
    height: 50px;
    /* margin-left: 3%; */
    outline-style: none;
    padding-left: 2%;
}

    .searchInput:focus {
        font-size: 23px;
        background-color: #ffffff;
        border: 4px solid #254e6b;
        border-radius: 10px 10px 10px 10px;
        width: 400px;
        height: 50px;
        /* margin-left: 3%; */
        outline-style: none;
        padding-left: 2%;
    }

.icon-search {
    color: #b8b7b7;
    font-size: 20px;
    margin-left: 3%;
}

    .icon-search:hover {
        color: #2b3040e6;
        font-size: 20px;
        cursor: pointer;
        margin-left: 3%;
    }

.addNote {
    font-size: 28px;
    color: #acabab;
    display: flex;
    align-items: center;
}

    .addNote:hover {
        font-size: 28px;
        color: #696767;
        display: flex;
        align-items: center;
    }

    .addNote span {
        margin-left: 15px;
    }

.sort {
    margin-left: 130px;
    cursor: pointer;
}


    .sort > .dropdown-toggle {
        font-size: 20px;
    }

        .sort > .dropdown-toggle:focus {
            background-color: #e6e4e4;
            box-shadow: none;
            border-radius: 10px 10px 10px 10px;
        }

.NbListInside {
    border: 1px solid rgb(201, 200, 200);
    border-radius: 10px 10px 10px 10px;
    height: 70px;
    /* background-color: rgb(225, 224, 224); */
}

    .NbListInside:hover {
        border: 1px solid rgb(201, 200, 200);
        border-radius: 10px 10px 10px 10px;
        height: 70px;
        background-color: rgb(112, 133, 164);
        color: white;
        cursor: pointer;
    }

.CtrNbIfo {
    /* margin-top: 20px; */
    font-size: 25px;
    padding-top: 20px;
    padding-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 400px;
}

.CtrTimeBox {
    padding-right: 10%;
    padding-top: 20px;
    font-size: 25px;
}


.PhotoBoxCtr {
    /* padding-right: 5%;
    padding-top: 50px; */
    font-size: 35px;
}

/* 為了美觀把a標籤的底線和顏色改變 */
a {
    text-decoration: none;
    color: black;
}

/* 任務清單中的大頭貼圖像設定 */
.NbListCtr {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 16px;
}

    .NbListCtr img {
        width: 40px;
        height: 40px;
        object-fit: cover;
    }