@{
    ViewData["Title"] = "Home Page";
}

        <!-- 從這裡開始寫 -->
        <br>
        <!-- select option -->
        <div class="sele">
            <div class="row  gx-0">
                <div class="col-4">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>全部目標分類</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col"></div>
            </div>
            <!-- select option end -->
            <!-- 任務清單 -->
            <br>
            <!-- 任務分類 -->
            <div class="row gx-0">
                <div class="col d-flex justify-content-center align-items-start">
                    <h2>新任務</h2>
                    <a class="addIcon"><i class="fa-regular fa-square-plus fa-2xl"></i></a>
                </div>
                <div class="col d-flex justify-content-center align-items-start">
                    <h2>進行中</h2>
                    <a class="addIcon"><i class="fa-regular fa-square-plus fa-2xl"></i></a>

                </div>
                <div class="col d-flex justify-content-center align-items-start">
                    <h2>已完成</h2>
                    <a class="addIcon"><i class="fa-regular fa-square-plus fa-2xl"></i></a>

                </div>
            </div>
            <!-- 任務分類 end-->
            <!-- 清單 -->
            <div class="row  gx-0">

                <div class="col scroller">
                    <ul id="sortable1" class="connectedSortable w-100 " style="height:65vh">
                        <li class="ui-state my-4 mx-4">
                            <h3 class="mx-4 my-4">校稿並與主管確認1</h3>
                            <div class="row mx-2 my-3">
                                <div class="col d-flex  align-items-center">
                                    <div class=" bd-highlight">2023/06/13 - 2023/06/20</div>
                                </div>
                                <div class="col-2 d-flex align-items-center">
                                    <img class="MissionAvatar"
                                         src="~/img/MemberImg/0733ba760b29378474dea0fdbcb97107.jpg" alt="頭像">
                                </div>
                                <div class="col-2 d-flex align-items-center">
                                    <i class="fa-regular fa-envelope fa-2xl"
                                       style="color:#696c71"></i>
                                </div>
                            </div>
                        </li>
                        <li class="ui-state my-4 mx-4">
                            <h3 class="mx-4 my-4">校稿並與主管確認1</h3>
                            <div class="row mx-2 my-3">
                                <div class="col d-flex  align-items-center">
                                    <div class=" bd-highlight">2023/06/13 - 2023/06/20</div>
                                </div>
                                <div class="col-2 d-flex align-items-center">
                                    <img class="MissionAvatar"
                                         src="~/img/MemberImg/0733ba760b29378474dea0fdbcb97107.jpg" alt="頭像">
                                </div>
                                <div class="col-2 d-flex align-items-center">
                                    <i class="fa-regular fa-envelope fa-2xl"
                                       style="color:#696c71"></i>
                                </div>
                            </div>
                        </li>
                        <li class="ui-state my-4 mx-4">
                            <h3 class="mx-4 my-4">校稿並與主管確認1</h3>
                            <div class="row mx-2 my-3">
                                <div class="col d-flex  align-items-center">
                                    <div class=" bd-highlight">2023/06/13 - 2023/06/20</div>
                                </div>
                                <div class="col-2 d-flex align-items-center">
                                    <img class="MissionAvatar"
                                         src="~/img/MemberImg/0733ba760b29378474dea0fdbcb97107.jpg" alt="頭像">
                                </div>
                                <div class="col-2 d-flex align-items-center">
                                    <i class="fa-regular fa-envelope fa-2xl"
                                       style="color:#696c71"></i>
                                </div>
                            </div>
                        </li>
                        <li class="ui-state my-4 mx-4">
                            <h3 class="mx-4 my-4">校稿並與主管確認1</h3>
                            <div class="row mx-2 my-3">
                                <div class="col d-flex  align-items-center">
                                    <div class=" bd-highlight">2023/06/13 - 2023/06/20</div>
                                </div>
                                <div class="col-2 d-flex align-items-center">
                                    <img class="MissionAvatar"
                                         src="~/img/MemberImg/0733ba760b29378474dea0fdbcb97107.jpg" alt="頭像">
                                </div>
                                <div class="col-2 d-flex align-items-center">
                                    <i class="fa-regular fa-envelope fa-2xl"
                                       style="color:#696c71"></i>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
                <div class="col scroller">
                    <ul id="sortable2" class="connectedSortable w-100" style="height:65vh">
                        <li class="ui-state my-4 mx-4">
                            <h3 class="mx-4 my-4">校稿並與主管確認1</h3>
                            <div class="row mx-2 my-3">
                                <div class="col d-flex  align-items-center">
                                    <div class=" bd-highlight">2023/06/13 - 2023/06/20</div>
                                </div>
                                <div class="col-2 d-flex align-items-center">
                                    <img class="MissionAvatar"
                                         src="~/img/MemberImg/0733ba760b29378474dea0fdbcb97107.jpg" alt="頭像">
                                </div>
                                <div class="col-2 d-flex align-items-center">
                                    <i class="fa-regular fa-envelope fa-2xl"
                                       style="color:#696c71"></i>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
                <div class="col scroller">
                    <ul id="sortable3" class="connectedSortable w-100" style="height:65vh">
                        <li class="ui-state my-4 mx-4">
                            <h3 class="mx-4 my-4">校稿並與主管確認1</h3>
                            <div class="row mx-2 my-3">
                                <div class="col d-flex  align-items-center">
                                    <div class=" bd-highlight">2023/06/13 - 2023/06/20</div>
                                </div>
                                <div class="col-2 d-flex align-items-center">
                                    <img class="MissionAvatar"
                                         src="~/img/MemberImg/0733ba760b29378474dea0fdbcb97107.jpg" alt="頭像">
                                </div>
                                <div class="col-2 d-flex align-items-center">
                                    <i class="fa-regular fa-envelope fa-2xl"
                                       style="color:#696c71"></i>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>

            </div>
            <!-- 清單 end-->
        </div>
        <!-- 任務清單 end -->
        <!-- 結束 -->

<script src="~/js/mission/JavaScript.js"></script>
<link rel="stylesheet" href="~/css/Mission.css" />

