
@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<<!-------------------Navbar------------------->
<div class="navbar navbar-light bg-light">
    <div class="container">
        <img class="logo" src="~/img/HomePageImg/logo/logo_black.png " alt="logo">
        <button class="btn-start">開始使用</button>
    </div>
</div>
<!---------------Navbar end------------------->
<!-------------- Section 1-------------------->
<section class="section1">
    <div class="content-left">
        <svg class="colorgraphic" viewBox="20 0 160 200" xmlns="http://www.w3.org/2000/svg">
            <path fill="#D0E2FF"
                  d="M32.3,-40.8C44.3,-35.7,58.2,-29.5,64.4,-18.9C70.6,-8.3,69.1,6.8,65.8,22.6C62.4,38.4,57.1,54.9,45.8,66.4C34.6,77.8,17.3,84.3,3.3,79.7C-10.6,75.1,-21.2,59.5,-36.4,49.2C-51.5,39,-71.2,34.3,-81.3,22C-91.3,9.7,-91.7,-10.1,-82.1,-22.7C-72.5,-35.2,-52.9,-40.5,-37.5,-44.6C-22.2,-48.6,-11.1,-51.4,-0.5,-50.8C10.1,-50.1,20.2,-45.9,32.3,-40.8Z"
                  transform="translate(100 100)" />
        </svg>
        <div class="intro1">
            <h1>這是一個計劃管理工具，</h1>
            <p>目的是讓使用者能夠創建計劃、指派任務並根據排程逐步實現任務內容，幫助使用者有效地組織、追蹤及管理。</p>
            <button class="btn-start">開始使用</button>
        </div>

    </div>
    <div class="content-right">
        <img src="~/img/HomePageImg/team meeting in conference room_5416761.png" alt="meeting" style="width: 800px;">
    </div>
</section>
<!--------------- Section 1 end -------------------->
<!-------------- Section 2 -------------------->
<section class="section2">
    <div class="toolImg">
        <img class="img1" src="~/img/HomePageImg/dashboard/dachboard_1.jpg">
        <img class="img2" src="~/img/HomePageImg/dashboard/dachboard_2.jpg">
        <img class="img3" src="~/img/HomePageImg/dashboard/dachboard_3.jpg">
        <img class="img4" src="~/img/HomePageImg/dashboard/dachboard_4.jpg">
    </div>
    <div class="intro2">
        <svg class="colorgraphic" viewBox="0 0 120 200" xmlns="http://www.w3.org/2000/svg">
            <path fill="#E8DAFF"
                  d="M27.4,-32.9C35,-26.4,40.2,-17.2,41.3,-7.7C42.4,1.7,39.5,11.4,34.5,19.9C29.6,28.4,22.6,35.6,11.7,45.3C0.8,54.9,-14,67,-22.5,63.3C-30.9,59.5,-33,39.9,-39.3,24.7C-45.6,9.6,-56,-1.1,-59.4,-15.4C-62.7,-29.7,-58.9,-47.7,-47.8,-53.6C-36.7,-59.5,-18.4,-53.4,-4.2,-48.4C9.9,-43.4,19.9,-39.4,27.4,-32.9Z"
                  transform="translate(100 100)" />
        </svg>
        <div class="intro2-content">
            <p>多樣化的介面讓使用者有效追蹤計劃的進度和日期，並快速查看計劃的概觀和詳細資訊。</p>
        </div>
    </div>
</section>
<!-------------- Section 2 end ------------------->
<!-------------- Section 3 -------------------->
<section class="section3">
    <div class="circleImg">
        <img class="circleImg-1" src="~/img/HomePageImg/team1.png" alt="">
        <img class="circleImg-2" src="~/img/HomePageImg/team2.png" alt="">
        <img class="circleImg-3" src="~/img/HomePageImg/team3.png" alt="">
    </div>
    <div class="intro3">
        <p>此工具支持團隊協作功能，使用者可以邀請團隊成員參與計劃，共享資源、討論任務、建立記事本等，以便更好地合作和提高生產力。</p>
    </div>

</section>

<!-------------- Section 3 end ------------------->
<!-------------- Section 4 -------------------->
<section class="section4">
    <div class="intro4">
        <h1>Let's get started!</h1>
        <p>Collab，讓工作事半功倍。</p>
        <button class="btn-start">開始使用</button>
    </div>
    <img class="img5" src="~/img/HomePageImg/cheers.png" alt="">
</section>

<!-------------- Section 4 end ------------------->
<!-------------- footer -------------------->
<div class="footer">
    <!-- <svg class="colorgraphic" viewBox="60 0 200 80" xmlns="http://www.w3.org/2000/svg">
        <path fill="#BAE6FF"
            d="M44.6,-54C59,-50.9,72.8,-39.5,69.4,-27.8C66.1,-16,45.7,-3.9,34.3,4.9C22.9,13.8,20.5,19.4,16.3,26.6C12.1,33.7,6.1,42.5,-4.8,49.1C-15.7,55.7,-31.4,60.2,-37.8,53.8C-44.2,47.3,-41.2,29.9,-45,15.3C-48.8,0.8,-59.2,-10.9,-61,-24.3C-62.8,-37.6,-55.9,-52.5,-44.3,-56.6C-32.7,-60.7,-16.3,-54,-0.6,-53.1C15.1,-52.2,30.1,-57.2,44.6,-54Z"
            transform="translate(100 100)" />
    </svg> -->
    <p>Copyright © 2023 Collab. All rights reserved.</p>
</div>
<!-------------- footer end-------------------->
<link rel="stylesheet" href="~/css/HomePage.css" />

