@{
	ViewData["Title"] = "Index";
}
@model List<TestBananaContext>;

<div class="section1">
	<div class="addTarget">
		<form asp-action="AddTarget" method="post">
			<button class="icon-addTarget" type="submit" style="border:none; background-color:white"><i class="fa-regular fa-square-plus fa-2xl"></i></button>
			<input class="addInput" type="text" placeholder="新增目標" name="target" value=""/>
		</form>
	</div>

	<div class="sort">
		<button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
				data-bs-toggle="dropdown" aria-expanded="false">
			排序方式
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
			<li><a class="dropdown-item" href="#">依新增日期</a></li>
			<li><a class="dropdown-item" href="#">依進度</a></li>
			<li><a class="dropdown-item" href="#">依任務數量</a></li>
		</ul>
	</div>
</div>

<div class="progressArea">
	@foreach(var item in Model) {

		int MC = Convert.ToInt32(item.missionCount);
		int MF = Convert.ToInt32(item.missionFinish);
		int P;

		if(MC == 0) {
			P = 0;
		}
		else {
			P = (int)(MF / MC )* 100;
		}

		<div class="targetItem">
			<div class="targeTittle">
				<div>
					<p for="">@item.targetName</p>
				</div>
				<div class="target-addMission">
					<a class="icon-addMission">
						<i class="fa-solid fa-plus fa-lg"></i>&nbsp;新增任務
					</a>
				</div>
			</div>
			<progress class="target-1" max="100" value="@P"></progress>
			<label>任務數量：@item.missionCount</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>/</label>&nbsp;&nbsp;&nbsp;&nbsp;<label>已完成：@item.missionFinish</label>
		</div>
	}
	
	
	<div>
		<img src="~/img/Intent/9812.png" alt="" class="bgImg">
	</div>
</div>


<link rel="stylesheet" href="~/css/Intent.css" />