
@{
    ViewData["Title"] = "Index";
    Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
@*    <link rel="stylesheet" href="~/collab_00.styles.css" asp-append-version="true" />*@
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!-- MVC -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>


<!-- logo -->
<div class="logo">
    <img src="/img/logo_black.png" alt="" style="width: 300px;">
</div>
<div class="container">
    <!-- 註冊標題 -->
    <h1>註冊會員</h1>
    <form asp-action="Register" method="post">
        <!-- 會員名稱 -->
        <div class="MemberName">
            <label for="MemberName">會員名稱</label>
            <input type="text" id="MemberName" name="MemberName" placeholder="" required>
        </div>
        <!-- 建立帳號 -->
        <div class="MemberAccount">
            <label for="MemberAccount">E-mail</label>
            <input type="email" id="MemberAccount" name="MemberAccount" placeholder="" required>
        </div>
        <!-- 建立密碼 -->
        <div class="MemberPassword">
            <label for="password">建立密碼</label>
            <input type="password" id="password" name="MemberPassword" placeholder="" minlength="6" maxlength="12" pattern="^[a-zA-Z0-9]{6,12}$" required>
        </div>
        <!-- 確認密碼 -->
        <div class="confirmPassword">
            <label for="confirmPassword">確認密碼</label>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="" minlength="6" maxlength="12" pattern="^[a-zA-Z0-9]{6,12}$" required>
        </div>

        <!-- 註冊按鈕 -->
        <div>
            <input class="btn_submit" type="submit" value="註冊">
        </div>
    </form>
</div>
<link rel="stylesheet" href="~/css/Sign.css" />
<script>
    $(document).ready(function () {
        $("form").submit(function (event) {
            // 獲取密碼和確認密碼字段的值
            var password = $(".MemberPassword input").val();
            var confirmPassword = $(".confirmPassword input").val();

            // 如果密碼和確認密碼不同
            if (password !== confirmPassword) {
                // 彈出警告視窗
                alert("密碼不同，請重新設定一次");
                // 阻止表單提交
                event.preventDefault();
            } else {
                // 否則，彈出註冊成功的警告視窗
                // 注意：這個只是在客戶端顯示，並不能保證實際的註冊已經成功
                // 真正的註冊成功需要由伺服器確認
                alert("恭喜你註冊成功");
            }
        });
    });
</script>
